/*  your css code here. If applicable */
:root{
	--main-bg-color: rgb(135, 206, 235);
	--list-white: #fff;
	--list-width: 50%;
	--list-padding: 10px;
	--list-fl-font: 22px;
	--list-third-color: pink;
	--list-sf-color: gray;
	--para-bg-color: black;
	--para-text-color: red;
}

body{
	background-color: var(--main-bg-color);
}

article p:first-child{
	background-color: var(--para-bg-color);
	color: var(--list-white);
}

article p:nth-child(2){
	
}

article p:last-child{
   color: var(--para-text-color);
}
.item li{
	width: var(--list-width);
	padding:var(--list-padding);
}

.item .item24{
	background-color:var(--list-sf-color);
}
.item .item13{
	background-color: var(--list-third-color);
}
.item15{
	background-color: var(--list-white);
    font-size: var(--list-fl-font);
}

